*.env
venv
data
filtered_dataset
Nelson/
.conda
.vscode
venv_vir
virenv
dist/
build/
data/
*__pycahe__/
main/
tablas_cb/
*.rar
*.zip
*.tar.gz
main.exe
*.exe
.zip
base_library.zip
build\main\base_library.zip
__pycache__/
*.pyc
salida.docx
*.txt